{% extends "main.html" %}
{% load static %}

{% block title %}Editar Perfil{% endblock title %}

{% block styles %}
<link rel="stylesheet" href="{% static "staff/form.css" %}">
{% endblock styles %}

{% block content %}

{% include "navbar.html" %}

<main>
    <form method="post" action="" enctype="multipart/form-data">
        <a href="{{request.META.HTTP_REFERER|escape}}">
            <div class="btn-back">
                <img src="{% static "staff/images/icons/arrow-left.svg" %}" alt="">
            </div>
        </a>

        {% csrf_token %}
        {% for field in form %}

        {% if field.label == "Profile image"  %}
        {{field}}
        {{field.errors}}

        {% else %}
        <label for="">{{field.label}}</label>
        {{field}}
        {{field.errors}}
        
        {% endif %}
        {% endfor %}

        <button type="submit">Editar</button>
    </form>
</main>


{% endblock content %}