{% extends "main.html" %}
{% load static %}

{% block title %}O meu perfil{% endblock title %}

{% block styles %}
<link rel="stylesheet" href="{% static "accounts/profile.css" %}">
{% endblock styles %}

{% block content %}
{% include "navbar.html" %}

<main>
    <section class="col1--row1">
        {% if request.user.reader %}
        <p>Leitor</p>
        {% elif request.user.librarian %}
        <p>Bibliotecário</p>
        {% else %}
        <p>Administrador</p>
        {% endif %}
        <div class="image--box">
            <img src="{{ request.user.profile_image.url }}" alt="">
        </div>
        <p> {{ request.user.username }} </p>
        <h2>{{ request.user.first_name }} {{ request.user.last_name }}</h2>
    </section>
    <section class="col2--row1">
        <ul class="information">
            <li>
                <p>Nome: <span>{{ request.user.first_name }} {{ request.user.last_name }}</span></p>
            </li>
            <li>
                <p>Email: <span>{{ request.user.email }}</span></p>
            </li>
            <li>
                <p>Data de Nascimento: <span>{{ request.user.birthdate|date:"d F Y" }}</span></p>
            </li>
            <li>
                <p>Género: <span>{{ request.user.get_gender_display }}</span></p>
            </li>
            <li>
                <p>Rua: <span>{{ request.user.street }} {{ request.user.building }}</span></p>
            </li>
            <li>
                <p>Código Postal: <span>{{ request.user.postal_code }}</span></p>
            </li>
            <li>
                <p>Distrito: <span>{{ request.user.district }}</span></p>
            </li>
        </ul>
        <a href="{% url "edit-profile" %}" id="edit">Editar Perfil</a>
    </section>
    <section class="col1--row2-span">
        <h2>As suas requisições</h2>

        <ul class="requisitions">
            {% for requisition in requisitions %}
            <li>
                <p>ID: <span><a href="{% url "requisition" requisition.id %}">{{ requisition.id }}</a></span></p>
                <p>Data: <span>{{ requisition.date_created|date:"d F Y" }}</span></p>
                <p>Data Entrega: <span>{{ requisition.return_date|date:"d F Y" }}</span></p>

                {% if request.user.reader %}
                    {% if requisition.is_delivered %}
                    <p>Bibliotecário: <span><a href="{% url "public-profile" requisition.librarian.user.id %}">{{requisition.librarian}}</span></a></p>
                    <p>Entregue: <span>✅</span></p>
                    {% else %}
                    <p>Bibliotecário: </p>
                    <p>Entregue: <span>❌</span></p>
                    {% endif %}
                
                {% elif request.user.librarian %}
                    {% if requisition.is_delivered %}
                    <p>Leitor: <span><a href="{% url "public-profile" requisition.reader.user.id %}">{{requisition.reader}}</span></a></p>
                    <p>Entregue: <span>✅</span></p>
                    {% else %}
                    <p>Leitor: </p>
                    <p>Entregue: <span>❌</span></p>
                    {% endif %}
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </section>
</main>


{% endblock content %}