main .column--2 .author-section {
  position: relative;
  color: #fff;
  padding: 24px;
  margin-top: 48px;
  width: 100%;
  background-color: #0b7385f5;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

main .column--2 .author-section p,
main .column--2 .author-section h2 {
  margin-bottom: 24px;
}

main .column--2 .author-section h2 {
  font-size: 30px;
}

main .column--2 .author-section p {
  color: #fff;
  margin: 0;
  line-height: 2;
}

main .column--2 .author-section p:last-of-type {
  margin-bottom: 24px;
}

main .column--2 .author-section p.heading {
  font-size: 12px;
  color: #ced4da;
}

main .column--2 .author-section a:link,
main .column--2 .author-section a:visited {
  font-size: 14px;
  color: #ced4da;
}

main .column--2 .author-section a:hover,
main .column--2 .author-section a:active {
  color: #f35b04;
  text-decoration: underline;
}

main .column--2 .author-section .author-picture {
  position: relative;
  top: -24px;
  display: flex;
  justify-content: center;
}

main .column--2 .author-section .author-picture img {
  border-top: 5px solid #f35b04;
  height: 300px;
  border-bottom-left-radius: 150px;
  border-bottom-right-radius: 150px;
}

/* ------------------ */
main .column--3 {
  background-color: #f1f3f5;
}
