main {
  width: 95%;
  min-height: 400px;
  margin: 0 auto;
  margin-bottom: 48px;
  border-radius: 20px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 32px;
}

main>* {
  background-color: #e9ecef92;
  border-radius: 20px;
  border: 3px solid #0c8599;
}

main .col1--row1 {
  padding: 32px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

main .col1--row1 .image--box {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid #f35b04;
}

main .col1--row1 .image--box img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

main .col1--row1 h2 {
  font-size: 36px;
  font-family: 'Inter', sans-serif;
  text-align: center;
}

main .col1--row1 p:first-of-type {
  font-size: 20px;
  font-weight: 500;
}

main .col1--row1 p:nth-of-type(2) {
  font-style: italic;
  font-weight: 500;
}

main .col2--row1 {
  grid-column: span 2;
  padding: 32px;
  max-height: 500px;
  overflow: hidden;
}

main .col2--row1 .information {
  list-style: none;
}

main .col2--row1 .information li {
  padding-bottom: 16px;
  border-bottom: 0.3px solid #868e96;
  margin-bottom: 20px;
}

main .col2--row1 .information li p {
  font-size: 14px;
  font-weight: 300;
  color: #0c8599;
}

main .col2--row1 .information li span {
  font-size: 16px;
  font-weight: 500;
  color: #343a40;
}

main .col1--row2-span {
  grid-column: span 3;
  padding: 32px;
}

main .col1--row2-span h2 {
  font-family: 'Inter', sans-serif;
  margin-bottom: 16px;
}

main .col1--row2-span .requisitions {
  list-style: none;
  width: 100%;
  margin: 0 auto;
}

main .col1--row2-span .requisitions li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  gap: 24px;
}

main .col1--row2-span .requisitions li p {
  color: #0c8599;
  font-weight: 700;
  width: 100%;
}

main .col1--row2-span .requisitions li p span {
  color: #343a40;
  font-weight: 500;
}

main .col1--row2-span .requisitions li p span a:link,
main .col1--row2-span .requisitions li p span a:visited {
  color: #f35b04;
}

main .col1--row2-span .requisitions li p span a:hover,
main .col1--row2-span .requisitions li p span a:active {
  text-decoration: underline;
}

#edit:link,
#edit:visited {
  padding: 8px 10px;
  background-color: #f35b04;
  color: #fff;
  font-weight: 500;
}

#edit:hover,
#edit:active {
  background-color: #f57c36;
}