main {
  width: 100%;
  min-height: 800px;
  display: flex;
  justify-content: center;
}

.form-section {
  width: 550px;
  margin-top: 32px;
  margin-bottom: 64px;
  background-color: #f1f3f5;
  border: 2px solid #0c8599;
  border-radius: 20px;
  padding: 32px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.form-section h2 {
  font-size: 44px;
}

.form-section span {
  font-size: 52px;
  color: #0c8599;
}

.form-section h3 {
  font-family: 'Inter', sans-serif;
  margin-bottom: 24px;
}

.form-section form {
  width: 80%;
  margin-bottom: 24px;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-section form input {
  padding: 18px;
  border-radius: 100px;
  border: 1px solid #0c8599;
}

.form-section form input:focus {
  outline: none;
}

.form-section form input::placeholder {
  font-family: 'Inter', sans-serif;
}

.form-section form button {
  padding: 18px;
  border-radius: 100px;
  border: none;
  background-color: #0c8599;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}

.form-section form button:hover {
  background-color: #1098ad;
}

.form-section p>a:link,
.form-section p>a:visited {
  color: #0c8599;
}

.form-section p>a:hover,
.form-section p>a:active {
  text-decoration: underline;
}

.errorlist {
  list-style: none;
  margin-top: -14px;
}

.errorlist li {
  padding: 8px;
  color: #c92a2a;
  font-size: 14px;
  font-weight: 700;
  border-radius: 100px;
}

@media (max-width: 640px) {
  main {
    padding: 0 64px;
  }

  .form-section h2 {
    font-size: 32px;
  }

  .form-section span {
    font-size: 44px;
    color: #0c8599;
  }

  .form-section p {
    text-align: center;
  }
}