@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  font-family: 'Inter', sans-serif;
  background-color: #f1f3f5;
  color: #343a40;
}

main {
  width: 90%;
  margin: 0 auto;
  margin-top: 32px;
}

header {
  margin-bottom: 32px;
}

header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

table tr:first-of-type {
  background-color: #0c8599;
  color: #fff;
}

th,
tr,
td {
  padding: 5px 8px;
  text-align: center;
}

th {
  font-weight: 500;
  font-size: 14px;
  border: none;
}

td {
  font-size: 12px;
}

td > img {
  height: 80px;
  object-fit: cover;
}

tr {
  border: 2px solid #343a40;
}
