<!-- FOOTER -->
<footer>
<section>
        <div>
            <h3>Book Byte</h3>
            <ul>
                <li><a href="#">Sobre Nós</a></li>
                <li><a href="#">Entra em Contacto</a></li>
                <li><a href="#">Localização</a></li>
            </ul>
        </div>
        <div>
        <h3>Ajuda</h3>
            <ul>
                <li><a href="#">Regras</a></li>
                <li><a href="#">Centro de ajuda</a></li>
                <li><a href="#">Contactos</a></li>
            </ul>
        </div>
        <div>
        <h3>Conta</h3>
            <ul>
                <li><a href="#">Registar</a></li>
                <li><a href="#">Requisições</a></li>
                <li><a href="#">Lista de Desejos</a></li>
            </ul>
        </div>
        <div>
            <h3>Segue-nos</h3>
            <ul>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Instagram</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Tik Tok</a></li>
                <li><a href="#">YouTube</a></li>
                <li><a href="#">Twitch</a></li>
            </ul>
        </div>
        <div>
            <h3>Entra em contacto</h3>
            <form action="#" method="post">
                <input type="email" id="email" name="email" required placeholder="Insere o teu e-mail..." />
                <button type="submit" class="btn--submit">Enviar</button>
            </form>
        </div>
    </section>

    <h2><span>B</span>ook<span> B</span>yte</h2>
    <p>2024 &copy; Todos os direitos reservados.</p>
</footer>
<!-- /////// -->