{% load static %}
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Book Byte{% endblock title %}</title>

    <script src="https://unpkg.com/@phosphor-icons/web" defer></script>

    <link rel="stylesheet" href="{% static "css/global.css" %}">
    {% block styles %}{% endblock styles %}

    <script>
        const user = '{{request.user}}';

        function getToken(name) {
		    var cookieValue = null;
		    if (document.cookie && document.cookie !== '') {
		        var cookies = document.cookie.split(';');
		        for (var i = 0; i < cookies.length; i++) {
		            var cookie = cookies[i].trim();
		            // Does this cookie string begin with the name we want?
		            if (cookie.substring(0, name.length + 1) === (name + '=')) {
		                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                break;
		            }
		        }
		    }
		    return cookieValue;
		}
		var csrftoken = getToken('csrftoken')
    </script>

</head>
<body>
    {% block content %}
    {% include "messages.html" %}

    {% endblock content %}
    <script src="{% static "js/global.js" %}"></script>
    <script src="{% static "js/requisition.js" %}"></script>
</body>
</html>