<nav>
    <h1><span>B</span>ook <span>B</span>yte</h1>

    <ul class="navigation">
      <li>Livros</li>
      <li>Filmes</li>
      <li>Regras</li>
      <li>Contactos</li>
    </ul>

    <div class="accounts">
      <a href="#" id="login-btn">Login</a>
      <a href="#" class="btn btn--medium">Criar Conta</a>
    </div>

    <div class="responsive-menu">
      <img src="./content/icons/list-blue.svg" alt="" id="hamburger-icon" />
    </div>

    <div class="mobile-nav">
      <img src="./content/icons/x-circle.svg" alt="" id="close-mobile-nav" />

      <ul>
        <li>
          <h1><span>B</span>ook <span>B</span>yte</h1>
        </li>
        <li>Livros</li>
        <li>Filmes</li>
        <li>Regras</li>
        <li>Contactos</li>
        <li>
          <a href="#">Login</a>
        </li>
        <li>
          <a href="#" class="">Criar Conta</a>
        </li>
      </ul>
    </div>
</nav>