{% load static %}

<nav>
    <h1><a href="{% url "index" %}" class="logo"><span>B</span>ook <span>B</span>yte</a></h1>

    <ul class="navigation">
      <li><a href="{% url "books" %}">Livros</a></li>
      <li>Filmes</li>
      <li>Regras</li>
      <li>Contactos</li>
    </ul>

    {% if request.user.is_authenticated %}
    <div class="accounts">
      {% if request.user.reader %}
      <div class="requisition-icon">
        <a href="{% url "requisition-cart" %}">
          <img src="{% static "icons/requisition.svg" %}" alt="">
          <div class="requisition-total">
            <span id="navbar-item-count" data-requisition-item-count-url="{% url 'get_requisition_item_count' %}"></span>
          </div>
        </a>
      </div>
      {% endif %}

      <div class="profile-picture-box">
        <a href="{% url "profile" %}">
          <img src="{{request.user.profile_image.url}}" alt="">
        </a>
      </div>
      <a href="{% url "logout" %}" class="btn btn--medium">Terminar Sessão</a>
    </div>
    
    {% else %}
    <div class="accounts">
      <a href="{% url "login" %}" id="login-btn">Login</a>
      <a href="{% url "register" %}" class="btn btn--medium">Criar Conta</a>
    </div>
    
    {% endif %}

    <div class="responsive-menu">
      <img src="{% static "icons/list-blue.svg" %}" alt="" id="hamburger-icon" />
    </div>

    <div class="mobile-nav">
      <img src="{% static "icons/x-circle.svg" %}" alt="" id="close-mobile-nav" />

      <ul>
        {% if request.user.is_authenticated %}
        <li>
          <div class="profile-picture-box">
            <a href="{% url "profile" %}">
              <img src="{{request.user.profile_image.url}}" alt="" id="profile-image">
            </a>
          </div>
        </li> 
        {% endif %}
        <li>
          <h1><a href="{% url "index" %}" class="logo"><span>B</span>ook <span>B</span>yte</a></h1>
        </li>
        <li><a href="{% url "books" %}">Livros</a></li>
        <li>Filmes</li>
        <li>Regras</li>
        <li>Contactos</li>
        {% if request.user.is_authenticated %} 

        {% else %}
        <li>
          <a href="{% url "login" %}" class="nav-btn">Login</a>
        </li>
        <li>
          <a href="{% url "register" %}" class="nav-btn">Criar Conta</a>
        </li>
        {% endif %}
      </ul>
    </div>
</nav>