{% extends "main.html" %}
{% load static %}

{% block title %}Livros{% endblock title %}

{% block styles %}
<link rel="stylesheet" href="{% static "books/books.css" %}">
{% endblock styles %}

{% block content %}
{% include "navbar.html" %}

<header>
    <h2>Livros</h2>
    <form action="" id="search-form">
      {% for field in myFilter.form %}
      {% if field.label == "Search" %}
      {{field}}
      {% endif %}
      {% endfor %}

      <div class="select-filters">
        {% for field in myFilter.form %}
        {% if field.label != "Search" %}
        <div class="grid-item">
          <p>{{field.label}}</p>
          {{field}}
        </div>
        {% endif %}
        {% endfor %}
      </div>
      <div class="form-btns">
        <button type="submit" class="btn btn--medium" id="btn-search">Pesquisar</button>
        <a href="{% url "books" %}" class="btn btn--small" id="btn-reset">Limpar</a>
      </div>
    </form>
</header>

<main>
    <ul class="products">
        {% for book in books %}
        <div class="product--card">
            <a href="{% url "book" book.slug %}" class="product--link">
              <img src="{{book.cover.url}}" alt="" />
              <ul class="product--description">
                <li>
                  <i class="ph ph-book"></i>
                  <span class="title">{{book.title}}</span>
                </li>
                <li>
                  <i class="ph ph-user"></i>
                  {% for author in book.author.all %}
                  <span>{{author}}</span>
                  {% endfor %}
                </li>
                <li>
                  <i class="ph ph-file"></i>
                  <span>{{book.pages}} páginas</span>
                </li>
                <li>
                  <i class="ph ph-buildings"></i>
                  <span>{{book.publisher}}</span>
                </li>
                <li>
                  <img src="{{book.language.flag.url}}" alt="" class="flag" />
                </li>
              </ul>
              <a href="#" class="btn btn--small">Adicionar</a>
            </a>
        </div>
        {% endfor %}
    </ul>
</main>
{% include "footer.html" %}

<script src="{% static "books/books.js" %}"></script>
{% endblock content %}