{% extends "main.html" %}
{% load static %}

{% block title %}Detalhes da Requisição{% endblock title %}

{% block styles %}
<link rel="stylesheet" href="{% static "requisitions/requisition-detail.css" %}">
{% endblock styles %}


{% block content %}

{% include "navbar.html" %}

<main>
    <div>
        <h2>Requisição</h2>
        
        {% if requisition.is_delivered %}
        <p>Estado: <span>Entregue ✅</span></p>

        {% else %}
        <p>Estado: <span>Não entregue ❌ Tem até {{requisition.return_date}} para devolver os conteúdos.</span></p>
        
        {% endif %}

    </div>

    <section>
    <h3>Conteúdos</h3>
    <ul>
        {% for content in requisition.contents.all %}
        <li>
            <img src="{{content.cover.url}}" alt="">
            <h4><a href="{% url "book" content.slug %}">{{content.title}}</a></h4>
        </li>
        
        {% endfor %}
    </ul>

    </section>
</main>


{% include "footer.html" %}

{% endblock content %}