{% extends "main.html" %}
{% load static %}

{% block title %} Dashboard {% endblock title %}

{% block styles %}
<link rel="stylesheet" href="{% static "staff/navigation.css" %}">
<link rel="stylesheet" href="{% static "staff/content-dashboard.css" %}">

{% endblock styles %}


{% block content %}
{% include "staff/navigation.html" %}

<main>
    <header>
        <a href="{{request.META.HTTP_REFERER|escape}}">
            <div class="btn-back">
                <img src="{% static "staff/images/icons/arrow-left.svg" %}" alt="">
            </div>
        </a>

        <div>
            <h1>
                <img src="{% static "staff/images/icons/user.svg" %}" alt="">
                Autores
            </h1>
            <a href="{% url "add-author" %}" id="add-btn">Adicionar Autor</a>
        </div>
        <p>Search...</p>
    </header>

    <table>
        <tr>
            <th>Foto</th>
            <th>Nome</th>
            <th>Data de Nascimento</th>
            <th>País</th>
            <th>Biografia</th>
            <th>Website Pessoal</th>
            <th></th>
            <th></th>
        </tr>
        {% for author in authors %}
        <tr>
            <td>
                <img src="{{ author.picture.url }}" alt="">
            </td>
            <td>{{author}}</td>
            <td>{{author.birthdate|date:"F j, Y"}}</td>
            <td>{{author.country}}</td>
            <td>...</td>
            <td>{{ author.personal_website }}</td>
            <td><a href="{% url "update-author" author.id %}">Editar</a></td>
            <td><a href="{% url "delete-author" author.id %}">Eliminar</a></td>
        </tr>
        {% endfor %}
    </table>
</main>

{% endblock content %}