{% extends "main.html" %}
{% load static %}

{% block title %}Dashboard{% endblock title %}

{% block styles %}
<link rel="stylesheet" href="{% static "staff/dashboard.css" %}">
{% endblock styles %}

{% block content %}
<header class="header">
    <h2>Bibliotecário</h2>

    <div class="account-box">
        <span>Olá, Tiago!</span>
        <img src="{% static "icons/librarian-default.png" %}" alt="">
    </div>
</header>

<section class="sidebar">
    <div class="section-1">
        <h1><span>B</span>ook<span>B</span>yte</h1>

        <ul>
            <li><a href="{% url "books-dashboard" %}">Livros</a></li>
            <li><a href="{% url "authors-dashboard" %}">Autores</a></li>
            <li><a href="#">Filmes</a></li>
            <li><a href="#">Diretores</a></li>
            <li><a href="{% url "publishers-dashboard" %}">Editoras</a></li>
            <li><a href="{% url "genres-dashboard" %}">Géneros</a></li>
            <li><a href="#">Requisições</a></li>
        </ul>
    </div>

    <p>2024 &copy; BookByte</p>
</section>

<main class="main">
    <div class="card">
        <div class="icon-box">
            <img src="{% static "icons/book-bold-44px-teal.svg" %}" alt="">
        </div>
        <h3>Livros Requisitados</h3>
        <p>{{total_books}}</p>
    </div>
    <div class="card">
        <div class="icon-box">
            <img src="{% static "icons/film-reel-44px-teal.svg" %}" alt="">
        </div>
        <h3>Filmes Requisitados</h3>
        <p>{{total_movies}}</p>
    </div>
    <div class="card">
        <div class="icon-box">
            <img src="{% static "icons/film-reel-44px-teal.svg" %}" alt="">
        </div>
        <h3>Géneros mais Populares</h3>
        <p>Lorem Ipsum</p>
    </div>
    <div class="card">
        <h3>Requisições</h3>
        <p>Aguardando aprovação</p>
    </div>
    <div class="card">
        <h3>Conteúdo Recente</h3>
    </div>
    <div class="card"></div>
</main>

{% endblock content %}