{% extends "main.html" %}
{% load static %}

{% block title %}Dashboard{% endblock title %}

{% block styles %}
<link rel="stylesheet" href="{% static "staff/dashboard.css" %}">
{% endblock styles %}

{% block content %}
<header class="header">
    <h2>
        {% if request.user.is_superuser %}
        Administrador
        {% else %}
        Bibliotecário
        {% endif %}
    </h2>

    <div class="account-box">
        <span>Olá, {{request.user.first_name}}!</span>
        <a href="{% url "profile" %}">
            <img src="{{request.user.profile_image.url}}" alt="">
        </a>
    </div>
</header>

<section class="sidebar">
    <div class="section-1">
        <h1><a href="{% url "index" %}"><span>B</span>ook<span>B</span>yte</a></h1>

        <ul>
            <li><a href="{% url "books-dashboard" %}">Livros</a></li>
            <li><a href="{% url "authors-dashboard" %}">Autores</a></li>
            <li><a href="#">Filmes</a></li>
            <li><a href="#">Diretores</a></li>
            <li><a href="{% url "publishers-dashboard" %}">Editoras</a></li>
            <li><a href="{% url "genres-dashboard" %}">Géneros</a></li>
            <li><a href="#">Requisições</a></li>
        </ul>

        {% if request.user.is_superuser %}
        <ul>
            <li><a href="{% url "staff-register" %}">Registar Staff</a></li>
        </ul>
        {% endif %}
    </div>

    <p>2024 &copy; BookByte</p>
</section>

<main class="main">
    <div class="card">
        <div class="icon-box">
            <img src="{% static "icons/book-bold-44px-teal.svg" %}" alt="">
        </div>
        <h3>Livros Requisitados</h3>
        <p>{{total_books}}</p>
    </div>
    <div class="card">
        <div class="icon-box">
            <img src="{% static "icons/film-reel-44px-teal.svg" %}" alt="">
        </div>
        <h3>Filmes Requisitados</h3>
        <p>{{total_movies}}</p>
    </div>
    <div class="card">
        <h3>Atividade Recente</h3>
    </div>
    <div class="card">
        <h3>Requisições</h3>
        <p>Em aberto</p>

        <table>
            <tr>
                <th>ID</th>
                <th>Data</th>
                <th>Data de Entrega</th>
                <th>Conteúdos</th>
                <th>Leitor</th>
                <th></th>
            </tr>

            {% for requisition in requisitions %}
            <tr>
                <td><a href="{% url "requisition" requisition.id%}">{{requisition.id|truncatechars:"20"}}</a></td>
                <td>{{requisition.date_created|date:"d F Y"}}</td>
                <td>{{requisition.return_date|date:"d F Y"}}</td>
                <td>
                    {% for content in requisition.contents.all %}
                    <p><a href="{% url "book" content.slug %}">{{content.title}}</a></p>
                    {% endfor %}
                </td>
                <td>
                    <p><a href="{% url "public-profile" requisition.reader.user.id %}">{{requisition.reader}}</a></p>
                </td>
                <td>
                    <form action="{% url "deliver-requisition" requisition.id%}" method="POST">
                        {% csrf_token %}
                        <input type="submit" value="Finalizar">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>

        <hr>

        <p>Finalizadas</p>

        <table>
            <tr>
                <th>ID</th>
                <th>Data</th>
                <th>Data de Entrega</th>
                <th>Conteúdos</th>
                <th>Leitor</th>
                <th></th>
            </tr>

            {% for requisition in completed %}
            <tr>
                <td><a href="{% url "requisition" requisition.id%}">{{requisition.id|truncatechars:"20"}}</a></td>
                <td>{{requisition.date_created|date:"d F Y"}}</td>
                <td>{{requisition.return_date|date:"d F Y"}}</td>
                <td>
                    {% for content in requisition.contents.all %}
                    <p><a href="{% url "book" content.slug %}">{{content.title}}</a></p>
                    {% endfor %}
                </td>
                <td>
                    <p><a href="{% url "public-profile" requisition.reader.user.id %}">{{requisition.reader}}</a></p>
                </td>
                <td>
                    ✅
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</main>

{% endblock content %}