{% extends "main.html" %}
{% load static %}

{% block title %}Apagar ?{% endblock title %}

{% block styles %}
<link rel="stylesheet" href="{% static "staff/delete.css" %}">
{% endblock styles %}


{% block content %}
<div>
    <p>Tem a certeza que pretende <span>eliminar</span> <strong>{{object}}</strong>?</p>
    <form action="" method="POST">
        {% csrf_token %}
        <input type="submit" value="Confirmar">
        <a href="{{request.META.HTTP_REFERER|escape}}">Voltar</a>
    </form>
</div>
{% endblock content %}