{% extends "main.html" %}
{% load static %}

{% block title %}{{type}} {{page}}{% endblock title %}

{% block styles %}
<link rel="stylesheet" href="{% static "staff/navigation.css" %}">
<link rel="stylesheet" href="{% static "staff/form.css" %}">
{% endblock styles %}

{% block content %}
{% include "staff/navigation.html" %}


<main>
    <form method="post" action="" enctype="multipart/form-data">
        <a href="{{request.META.HTTP_REFERER|escape}}">
            <div class="btn-back">
                <img src="{% static "staff/images/icons/arrow-left.svg" %}" alt="">
            </div>
        </a>

        {% csrf_token %}
        {% for field in form %}
        {% if field.label == "Autor"%}
        <label for="" class="margin-zero">{{field.label}}</label>
        <p>Para selecionar uma ou várias opções utilize a tecla CTRL</p>
        {{field}}
        <a href="{% url "add-author" %}" class="btn-create">Criar Autor</a>

        {% elif  field.label == "Géneros"  %}
        <label for="" class="margin-zero">{{field.label}}</label>
        <p>Para selecionar uma ou várias opções utilize a tecla CTRL</p>
        {{field}}
        <a href="{% url "add-genre" %}" class ="btn-create">Criar Género</a>

        {% elif field.label == "Editora" %}
        <label for="">{{field.label}}</label>
        {{field}}
        <a href="{% url "add-publisher" %}" class ="btn-create">Criar Editora</a>

        
        {% else %}
        <label for="">{{field.label}}</label>
        {{field}}

        {% endif %}

        {% endfor %}
        <button type="submit">{{type}}</button>
    </form>
</main>
{% endblock content %}