{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{type}} {{page}}</title>

    <link rel="stylesheet" href="{% static "staff/form.css" %}">
</head>
<body>
    <main>
        <form method="post" action="" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
            {% if field.label == "Autor" or field.label == "Géneros" %}
            <label for="">{{field.label}}</label>
            <p>Para selecionar uma ou várias opções utilize a tecla CTRL</p>
            {{field}}
            
            {% else %}
            <label for="">{{field.label}}</label>
            {{field}}

            {% endif %}
            {% endfor %}
            <button type="submit">{{type}}</button>
        </form>
    </main>
</body>
</html>