{% extends "main.html" %}
{% load static %}

{% block title %}Dashboard{% endblock title %}

{% block styles %}

<link rel="stylesheet" href="{% static "staff/dashboard.css" %}">

{% endblock styles %}

{% block content %}
<main>
    <header>
        <div>
            <h1>
                <img src="{% static "staff/images/icons/option.svg" %}" alt="">
                Géneros
            </h1>
            <a href="{% url "add-genre" %}" id="add-btn">Adicionar Género</a>
        </div>
        <p>Search...</p>
    </header>
    <table>
        <tr>
            <th>Criado a:</th>
            <th>Género</th>
            <th></th>
            <th></th>
        </tr>        
    </table>
</main>
{% endblock content %}
    