<nav class="navigation">
    <ul>
        <li><a href="{% url "dashboard" %}">Dashboard</a></li>
        <li><a href="{% url "books-dashboard" %}">Livros</a></li>
        <li><a href="{% url "authors-dashboard" %}">Autores</a></li>
        <li><a href="#">Filmes</a></li>
        <li><a href="#">Diretores</a></li>
        <li><a href="{% url "publishers-dashboard" %}">Editoras</a></li>
        <li><a href="{% url "genres-dashboard" %}">Géneros</a></li>
        <li><a href="#">Requisições</a></li>
    </ul>
</nav>