{% extends "main.html" %}
{% load static %}

{% block title %}Dashboard{% endblock title %}

{% block styles %}
<link rel="stylesheet" href="{% static "staff/navigation.css" %}">
<link rel="stylesheet" href="{% static "staff/content-dashboard.css" %}">

{% endblock styles %}

{% block content %}
{% include "staff/navigation.html" %}

<main>
    <header>
        <a href="{{request.META.HTTP_REFERER|escape}}">
            <div class="btn-back">
                <img src="{% static "staff/images/icons/arrow-left.svg" %}" alt="">
            </div>
        </a>
        
        <div>
            <h1>
                <img src="{% static "staff/images/icons/buildings.svg" %}" alt="">
                Editoras
            </h1>
            <a href="{% url "add-publisher" %}" id="add-btn">Adicionar Editora</a>
        </div>
        <p>Search...</p>
    </header>

    <table>
        <tr>
            <th>Criado a</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Website</th>
            <th></th>
            <th></th>
        </tr>

        {% for publisher in publishers %}
        <tr>
            <td>{{publisher.created}}</td>
            <td>{{publisher.name}}</td>
            <td>{{publisher.email}}</td>
            <td>{{publisher.website}}</td>
            <td>
                <a href="{% url "update-publisher" publisher.id %}">Editar</a>
            </td>
            <td>
                <a href="{% url "delete-publisher" publisher.id %}">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </table>

    {% include "staff/dashboard-pagination.html" with queryset=publishers custom_range=custom_range %}
</main>
{% endblock content %}