{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

    <link rel="stylesheet" href="{% static "staff/dashboard.css" %}">
</head>
<body>
    <main>
        <header>
            <div>
                <h1>Editoras</h1>
                <a href="{% url "add-publisher" %}" id="add-btn">Adicionar Editora</a>
            </div>
            <p>Search...</p>
        </header>

        <table>
            <tr>
                <th>Criado a</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Website</th>
                <th></th>
                <th></th>
            </tr>

            {% for publisher in publishers %}
            <tr>
                <td>{{publisher.created}}</td>
                <td>{{publisher.name}}</td>
                <td>{{publisher.email}}</td>
                <td>{{publisher.website}}</td>
                <td>
                    <a href="{% url "update-publisher" publisher.id %}">Editar</a>
                </td>
                <td>
                    <a href="{% url "delete-publisher" publisher.id %}">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </main>
    
</body>
</html>