{% extends "main.html" %}
{% load static %}

{% block title %}Staff{% endblock title %}

{% block styles %}
<link rel="stylesheet" href="{% static "staff/staff.css" %}">
{% endblock styles %}


{% block content %}
<nav>
    <h1>Book Byte</h1>
    <ul>
        <li>
        <img src="{% static "staff/images/icons/book-24px-gray.svg" %}" alt="" />
        <a href="{% url "books-dashboard" %}">Livros</a>
        </li>
        <li>
        <img src="{% static "staff/images/icons/person-24px-ray.svg" %}" alt="" />
        <a href="{% url "authors-dashboard" %}">Autores</a>
        </li>
        <li>
        <img src="{% static "staff/images/icons/buildings-24px-gray.svg" %}" alt="" />
        <a href="{% url "publishers-dashboard" %}">Editoras</a>
        </li>
        <li>
        <img src="{% static "staff/images/icons/option-24px-gray.svg" %}" alt="" />
        <a href="{% url "genres-dashboard" %}">Géneros</a>
        </li>
    </ul>

    <p>2024 &copy; BookByte</p>
</nav>

<main>
    <header>
      <h2>Bibliotecário</h2>

      <div>
        <p>Olá, Bibliotecário</p>
        <img src="{% static "staff/images/icons/user.png" %}" alt="" />
      </div>
    </header>


    <section></section>
</main>

{% endblock content %}